
<div *ngIf="accountant">
    <h2><span jhiTranslate="tclinicaApp.accountant.detail.title">Accountant</span> {{accountant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tclinicaApp.accountant.officeName">Office Name</span></dt>
        <dd>
            <span>{{accountant.officeName}}</span>
        </dd>
        <dt><span jhiTranslate="tclinicaApp.accountant.user">User</span></dt>
        <dd>
            {{accountant.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'accountant/'+ accountant.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
