<div>
    <h2 data-translate="tclinicaApp.prescription.home.title">Prescriptions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="prescription-tcc.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tclinicaApp.prescription.home.createLabel">
                        Create new Prescription
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="tclinicaApp.prescription.number">Number</span></th>
                    <th><span data-translate="tclinicaApp.prescription.medicine">Medicine</span></th>
                    <th><span data-translate="tclinicaApp.prescription.medicalRecord">Medical Record</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prescription in vm.prescriptions track by prescription.id">
                    <td><a ui-sref="prescription-tcc-detail({id:prescription.id})">{{prescription.id}}</a></td>
                    <td>{{prescription.number}}</td>
                    <td>
                        <span ng-repeat="medicine in prescription.medicines">
                            <a class="form-control-static" ui-sref="medicine-tcc-detail({id: medicine.id})">{{medicine.genericName}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="medical-record-tcc-detail({id:prescription.medicalRecord.id})">
                        {{prescription.medicalRecord.appointment.patient.nickname}} {{prescription.medicalRecord.appointment.startDate | date:'short'}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="prescription-tcc-detail({id:prescription.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="prescription-tcc.edit({id:prescription.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="prescription-tcc.delete({id:prescription.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
