
<div *ngIf="patient">
    <h2><span jhiTranslate="tclinicaApp.patient.detail.title">Patient</span> {{patient.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tclinicaApp.patient.gender">Gender</span></dt>
        <dd>
            <span>{{patient.gender}}</span>
        </dd>
        <dt><span jhiTranslate="tclinicaApp.patient.user">User</span></dt>
        <dd>
            {{patient.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
