
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExamLabel" data-translate="tclinicaApp.exam.home.createOrEditLabel">Create or edit a Exam</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.exam.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.exam.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="tclinicaApp.exam.examType" for="field_examType">Exam Type</label>
            <select class="form-control" id="field_examType" name="examType" ng-model="vm.exam.examType" ng-options="examType as examType.name for examType in vm.examtypes | orderBy:'id' track by examType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="tclinicaApp.exam.medicalRecord" for="field_medicalRecord">Medical Record</label>
            <select class="form-control" id="field_medicalRecord" name="medicalRecord" ng-model="vm.exam.medicalRecord" ng-options="medicalRecord as medicalRecord.id for medicalRecord in vm.medicalrecords track by medicalRecord.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
