<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAppointmentLabel" jhiTranslate="tclinicaApp.appointment.home.createOrEditLabel">Create or edit a Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!appointment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="appointment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tclinicaApp.appointment.scheduledDate" for="field_scheduledDate">Scheduled Date</label>
            <div class="d-flex">
                <input id="field_scheduledDate" type="datetime-local" class="form-control" name="scheduledDate" [(ngModel)]="appointment.scheduledDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.scheduledDate?.dirty && editForm.controls.scheduledDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.scheduledDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.scheduledDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tclinicaApp.appointment.cancelled" for="field_cancelled">Cancelled</label>
            <input type="checkbox" class="form-control" name="cancelled" id="field_cancelled"
                [(ngModel)]="appointment.cancelled"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tclinicaApp.appointment.patient" for="field_patient">Patient</label>
            <select class="form-control" id="field_patient" name="patient" [(ngModel)]="appointment.patient" >
                <option [ngValue]="null"></option>
                <option [ngValue]="patientOption.id === appointment.patient?.id ? appointment.patient : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tclinicaApp.appointment.doctor" for="field_doctor">Doctor</label>
            <select class="form-control" id="field_doctor" name="doctor" [(ngModel)]="appointment.doctor" >
                <option [ngValue]="null"></option>
                <option [ngValue]="doctorOption.id === appointment.doctor?.id ? appointment.doctor : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById">{{doctorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
